<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    @RenderSection("Head", required: false)
</head>
<body>
    <header>
        <nav class="border-b-2 flex h-10 items-center border-b-indigo-600 bg-white">
            <div class="flex-1 pl-10">
                <partial name="_LogoPartial" />
            </div>
            <partial name="_LoginPartial" />
        </nav>

    </header>
    <main role="main" class="bg-indigo-50">
        @RenderBody()
    </main>
    @RenderSection("Footer", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
