<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Connect</title>

    <script src="https://cdn.tailwindcss.com"></script>

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    @RenderSection("Head", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Connect.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <nav class="border-b-2 flex h-10 items-center border-b-indigo-600 bg-white">
            <div class="flex-1 pl-10">
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1 class="inline-block bg-gradient-to-r from-purple-600 to-blue-500 bg-clip-text text-lg font-medium text-transparent md:text-xl">Connect</h1>
                </a>
            </div>
            <partial name="_LoginPartial" />
        </nav>

    </header>
    <main role="main" class="bg-indigo-50">
        @RenderBody()
    </main>

    @RenderSection("Footer", required: false)


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tabler/core@1.0.0-beta17/dist/css/tabler.min.css"> *@
    @*<script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
