@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="flex-1 flex justify-end gap-10 pr-10">
    @if (SignInManager.IsSignedIn(User))
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="rounded-md bg-white px-3 py-0.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:z-10 focus:ring-4 focus:ring-gray-100">Logout</button>
        </form>
    }
    else
    {
        <span class="rounded-md bg-white px-4 py-0.5 text-sm font-medium text-gray-900 hover:bg-indigo-50 hover:text-blue-700">
            <a  asp-area="Identity" asp-page="/Account/Login">Login</a>
        </span>
    }
</div>
