
<a class="" asp-area="" asp-controller="Home" asp-action="Index">
    <h1 class="inline-block bg-gradient-to-r from-purple-600 to-blue-500 bg-clip-text text-lg font-medium text-transparent md:text-xl">Connect</h1>
</a>