@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="flex-1 flex justify-end gap-10 pr-10">
    @if (SignInManager.IsSignedIn(User))
    {
        <span class="hidden md:block">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </span>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="">Logout</button>
        </form>
    }
    else
    {
        <span class="nav-item">
            <a class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </span>
        <span class="nav-item">
            <a class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </span>
    }
</div>
