@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <button type="submit" id="startMeeting">Start a meeting</button>

    <input id="setMeetingId" type="text" value="abc" />
    <button id="enterMeeting" type="submit">Enter</button>

</div>

@section Scripts {
    <script>
        document.getElementById("startMeeting").addEventListener("click", () => {
            location.href = `/Start`;
        });

        document.getElementById("enterMeeting").addEventListener("click", () => {

            let val = document.getElementById("setMeetingId").value;
            location.href = `/Connect/${val}`;
        });
    </script>
}
