@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<main class="full-height flex w-full flex-col items-center justify-center bg-white px-4">
    <div class="w-full max-w-sm space-y-8 text-gray-600">
        <div class="text-center">
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                <h1 class="inline-block bg-gradient-to-r from-purple-600 to-blue-500 bg-clip-text text-5xl text-transparent">Connect</h1>
            </a>
            <div class="mt-5 space-y-2">
                <h3 class="text-2xl font-bold text-gray-800 sm:text-3xl">
                    Log in
                </h3>
            </div>
        </div>
        <form id="account" method="post" class="flex flex-col gap-4">
            <div>
                <label asp-for="Input.Email" class="font-medium"> Email </label>
                <input type="email" autocomplete="username" aria-required="true" placeholder="name@example.com"
                       asp-for="Input.Email"
                       required
                       class="mt-2 w-full rounded-lg border bg-transparent px-3 py-2 text-gray-500 shadow-sm outline-none focus:border-indigo-600" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="font-medium"> Password </label>
                <input type="password" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password"
                       required
                       class="mt-2 w-full rounded-lg border bg-transparent px-3 py-2 text-gray-500 shadow-sm outline-none focus:border-indigo-600" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button id="login-submit" type="submit" class="mt-4 w-full rounded-lg bg-indigo-600 px-4 py-2 font-medium text-white duration-150 hover:bg-indigo-500 active:bg-indigo-600">
                Log in
            </button>
        </form>
        <div class="relative">
            <span class="block h-px w-full bg-gray-300"></span>
            <p class="absolute inset-x-0 -top-2 mx-auto inline-block w-fit bg-white px-2 text-sm">
                Or continue with
            </p>
        </div>
        <div class="space-y-4 text-sm font-medium">
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                @foreach (var provider in Model.ExternalLogins!)
                {
                    if (provider.Name == "Google")
                    {
                        <button name="provider" value="@provider.Name" type="submit" class="flex w-full items-center justify-center gap-x-3 rounded-lg border py-2.5 duration-150 hover:bg-gray-50 active:bg-gray-100">
                            <img src="~/assets/google-icon.svg"
                                 alt="Google"
                                 class="h-5 w-5" />
                            Continue with Google
                        </button>
                    }
                }
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
