<h1>@Model</h1>

<input hidden id="meetingId" value="@Model" />

<button id="join">Join</button>

<div id="playerWrapper" class="mt-2 border-1 w-50 display-flex border border-solid" style="width: 100%; height: 200px;">
    <video id="localVideo" autoplay muted playsinline controls="false" style="width: 180px; height: 180px; border: solid 2px gray;"></video>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/userInterface.js" asp-append-version="true"></script>
<script src="~/js/peerToServer.js" asp-append-version="true"></script>
<script src="~/js/peerToPeer.js" asp-append-version="true"></script>