/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
*/
.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px white;
}

.btn-circle:hover {
    background-color: rgba(255,255, 255, 0.5);
}

.video-control {
    color: black;
    font-size: 16px;
}

.full-height {
    height: calc(100vh - 40px);
}

.full-height-footer {
    height: calc(100vh - 80px);
}