@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px white;
    color: black;
}

.btn-circle:hover {
    background-color: rgba(255,255, 255, 0.1);
    color: white;
}

.video-control {
    font-size: 16px;
}

.full-height {
    height: calc(100vh - 40px);
}

.full-height-footer {
    height: calc(100vh - 80px);
}

.overlay-text {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 20px;
    right: 20px;
    padding: 4px 40px;
    border-radius: 30px
}

.share-outline {
    outline-width: 2px;
    outline-color: white;
    outline-offset: 4px;
    outline-style: none;
}